omegaconf==2.3.0
transformers==5.5.4
datasets==4.8.4
sentence-transformers==5.4.1
sympy==1.14.0
pyarrow==23.0.1
pandas==3.0.2
numpy==2.2.6
python-dotenv==1.2.2
torchdata==0.11.0
tensordict==0.12.1
accelerate==1.13.0
wandb==0.26.0
torch==2.10.0
vllm==0.19.1
flash-attn==2.7.4.post1
