psutil==7.0.0
colorama==0.4.6
pre_commit==4.5.0
llama-index-program-openai==0.3.2
PySide6==6.9.1
openai==1.109.1
tensorflow-io-gcs-filesystem==0.37.1
pytz==2025.2
instructor==1.13.0
mistune==3.1.3
deepl==1.22.0
safetensors==0.5.3
ruamel.yaml==0.18.14
jsonpath-ng==1.7.0
pycparser==2.22
dataclasses-json==0.6.7
numba==0.61.2
azure-storage-blob==12.26.0
repo-to-text==0.7.0
sentencepiece==0.2.0
nvidia-nvtx-cu12==12.8.90
hjson==3.1.0
gmpy2==2.2.1
pyproject_hooks==1.2.0
networkx==3.6.1
fickling==0.1.4
pyOpenSSL==25.1.0
gymnasium==1.2.0
graphviz==0.21
setproctitle==1.3.6
llama-index-llms-openai==0.4.7
wrapt==1.17.2
Send2Trash==1.8.3
confection==0.1.5
sgmllib3k==1.0.0
nvidia-cufile-cu12==1.13.1.3
tqdm-multiprocess==0.0.11
wcwidth==0.2.5
murmurhash==1.0.13
types-tqdm==4.67.0.20250809
tree-sitter==0.25.2
langsmith==0.6.2
colbert-ai==0.2.21
promptflow-tracing==1.18.1
six==1.16.0
opentelemetry-semantic-conventions==0.56b0
types-requests==2.32.4.20250809
vertexai==1.71.1
torchvision==0.24.1
pyee==13.0.0
fishfarm==0.1.0.dev0
bespokelabs-curator==0.1.26
MarkupSafe==3.0.3
backoff==2.2.1
boto3==1.40.61
fastapi-cloud-cli==0.1.4
jaraco.functools==4.2.1
llama-index-indices-managed-llama-cloud==0.7.10
opentelemetry-proto==1.35.0
inspect_ai==0.3.151
humanfriendly==10.0
tomlkit==0.13.3
requests-oauthlib==1.3.1
click==8.2.1
opencensus==0.11.4
partial-json-parser==0.2.1.1.post6
uvloop==0.21.0
entmax==1.3
rignore==0.6.2
wasabi==1.1.3
nvidia-cublas-cu12==12.8.4.1
monotonic==1.6
outlines==0.1.11
tzdata==2025.2
prompt_toolkit==3.0.51
azure-ai-documentintelligence==1.0.0b3
ninja==1.11.1.4
peft==0.18.0
et_xmlfile==2.0.0
jsonpointer==3.0.0
azure-ai-evaluation==1.9.0
jupyter_core==5.8.1
fastjsonschema==2.21.1
flatbuffers==25.2.10
referencing==0.36.2
types-PyYAML==6.0.12.20250809
smolagents==1.23.0
latex2sympy2_extended==1.0.6
pickleshare==0.7.5
google-api-python-client==2.178.0
evox-light==0.1.0
google-auth==2.47.0
google-crc32c==1.7.1
omegaconf==2.3.0
nvidia-cusparse-cu12==12.5.8.93
markdown-it-py==3.0.0
gguf==0.17.1
json5==0.12.0
spacy_universal_sentence_encoder==0.4.6
cfgv==3.4.0
aiofiles==23.2.1
pythainlp==5.1.2
argparse==1.4.0
nvitop==1.5.2
stdlib-list==0.11.1
google-pasta==0.2.0
widgetsnbextension==4.0.14
prometheus-fastapi-instrumentator==7.1.0
onnx==1.18.0
text-to-lora==0.0.1
zstandard==0.23.0
shapely==2.1.2
libclang==18.1.1
GitPython==3.1.45
cuda-bindings==12.9.4
itsdangerous==2.2.0
nbformat==5.10.4
anthropic==0.75.0
kiwisolver==1.4.8
google-cloud-bigquery==3.38.0
ollama==0.6.0
ray==2.48.0
pyzmq==27.0.0
interegular==0.3.3
urllib3==2.5.0
llama-index-core==0.12.52
natto-py==1.0.1
jiter==0.10.0
jupyter-lsp==2.2.5
RAGatouille==0.0.9.post2
frozenlist==1.3.1
SQLAlchemy==2.0.41
repo4llm==0.1.2
hydra-core==1.3.2
sacrebleu==2.5.1
fast_pytorch_kmeans==0.2.2
openenv-core==0.2.0
identify==2.6.12
weave==0.52.16
ipython==9.4.0
acres==0.5.0
pdfminer.six==20250506
tcolorpy==0.1.7
bleach==6.2.0
pydantic_core==2.41.5
codetiming==1.4.0
cupy-cuda12x==13.5.1
together==1.5.34
googleapis-common-protos==1.70.0
mdit-py-plugins==0.5.0
numpy==1.26.4
proto-plus==1.26.1
tempdir==0.7.1
sortedcontainers==2.4.0
PySocks==1.7.1
PyYAML==6.0.3
jiwer==4.0.0
lz4==4.4.4
etelemetry==0.3.1
msal==1.32.3
oauthlib==3.2.0
azure-monitor-opentelemetry-exporter==1.0.0b40
looseversion==1.3.0
soundfile==0.13.1
stack_data==0.6.3
aiosqlite==0.21.0
azure-search-documents==11.6.0b4
nibabel==5.3.2
arrow==1.3.0
srsly==2.5.1
tenacity==8.5.0
pydantic-settings==2.13.1
opentelemetry-api==1.35.0
hf_transfer==0.1.9
jupyter_server==2.16.0
jsonlines==4.0.0
pydub==0.25.1
contourpy==1.3.2
protobuf==6.33.5
filelock==3.25.0
catalogue==2.0.10
sentry-sdk==2.45.0
cymem==2.0.11
optree==0.17.0
pyxnat==1.6.3
opentelemetry-exporter-prometheus==0.56b0
nbclient==0.10.2
pathlib==1.0.1
mypy_extensions==1.1.0
hf-xet==1.4.3
opt_einsum==3.4.0
argcomplete==3.6.2
seaborn==0.13.2
nvidia-cufft-cu12==11.3.3.83
pbr==5.9.0
jupyterlab_server==2.27.3
pure_eval==0.2.3
ply==3.11
spacy-legacy==3.0.12
h2==4.2.0
nest-asyncio2==1.7.1
ci-info==0.3.0
unicodedata2==16.0.0
aenum==3.1.15
jieba==0.42.1
rpds-py==0.26.0
importlib_metadata==8.7.0
opentelemetry-exporter-otlp-proto-grpc==1.35.0
evaluate==0.4.5
pyvi==0.1.1
dnspython==2.7.0
pycountry==24.6.1
lighteval==0.13.1.dev0
google-cloud-core==2.5.0
traitlets==5.14.3
pylatexenc==2.10
pillow==11.3.0
polyfile-weave==0.5.7
multiprocess==0.70.16
jupytext==1.19.1
striprtf==0.0.26
pacmap==0.8.0
jupyter_client==8.6.3
nodeenv==1.9.1
spacy-loggers==1.0.5
flask-cors==6.0.1
nvidia-cuda-runtime-cu12==12.8.90
jmespath==1.0.1
supervisor==4.3.0
typer-slim==0.20.0
Pygments==2.19.2
pandas==2.2.2
wheel==0.45.1
bcrypt==4.3.0
nvidia-cuda-cupti-cu12==12.8.90
matplotlib-inline==0.1.7
tree-sitter-json==0.24.8
rfc3339_validator==0.1.4
ipykernel==6.29.5
zipp==3.23.0
jupyter-console==6.6.3
tensorboardX==2.6.4
nltk==3.9.1
mock==5.2.0
loguru==0.7.3
pynvml==13.0.1
distro==1.9.0
mando==0.7.1
aiobotocore==2.25.1
openai-harmony==0.0.4
s3transfer==0.14.0
notebook_shim==0.2.4
beartype==0.21.0
uritemplate==4.2.0
debugpy==1.8.14
pyasn1-modules==0.2.8
websockets==15.0.1
langchain-core==1.2.7
pybase64==1.4.1
comm==0.2.2
pluggy==1.6.0
groq==0.34.1
tokenizers==0.22.2
pytorch-lightning==2.5.2
RapidFuzz==3.13.0
tinysegmenter==0.3
ptyprocess==0.7.0
iterative-stratification==0.1.9
attrs==25.3.0
deepspeed==0.18.2
ruamel.yaml.clib==0.2.12
nvidia-cutlass-dsl==4.4.1
groovy==0.1.2
Deprecated==1.2.18
charset-normalizer==3.4.4
pytest==8.4.1
pathtools==0.1.2
evals==3.0.1.post1
dill==0.3.8
verl==0.7.1
termcolor==2.3.0
more-itertools==10.7.0
annotated-types==0.7.0
llama-index-readers-llama-parse==0.4.0
ipython_pygments_lexers==1.1.1
backports.tarfile==1.2.0
langcodes==3.5.0
pybind11==3.0.0
Flask==3.1.1
cached-property==1.5.2
configparser==7.2.0
wandb==0.23.1
llama-index-multi-modal-llms-openai==0.5.3
sse-starlette==3.3.2
radon==6.0.1
cint==1.0.0
gradio_client==1.11.0
nvidia-curand-cu12==10.3.9.90
nvidia-ml-py==12.575.51
evalplus==0.4.0.dev44
azure-identity==1.23.1
langgraph==1.0.5
keyring==25.6.0
universal_pathlib==0.3.7
fsspec==2025.10.0
gast==0.6.0
livecodebench==0.1.0
azure-core==1.35.0
notebook==7.4.5
pandocfilters==1.5.0
dulwich==0.22.8
pyarrow==21.0.0
git-python==1.0.3
flashinfer-python==0.6.1
virtualenv==20.32.0
coloredlogs==15.0.1
graphql-core==3.2.7
tensordict==0.10.0
linkify-it-py==2.0.3
terminado==0.18.1
google-ai-generativelanguage==0.6.15
isort==7.0.0
typing_utils==0.1.0
langchain-anthropic==1.3.1
yarl==1.20.1
simplejson==3.20.1
uri-template==1.3.0
antlr4-python3-runtime==4.9.3
blinker==1.9.0
fire==0.7.0
outlines_core==0.2.11
pydot==4.0.1
Markdown==3.8.2
msgspec==0.19.0
regex==2026.3.32
multipledispatch==1.0.0
pathvalidate==3.3.1
puremagic==1.30
rdflib==7.1.4
SudachiPy==0.6.10
crashtest==0.4.1
mistral_common==1.11.0
msal-extensions==1.3.1
psutil==7.0.0
triton==3.5.1
emoji==2.15.0
python-dateutil==2.9.0.post0
configobj==5.0.9
cbor2==5.7.0
matplotlib==3.10.3
docker==7.1.0
jeepney==0.9.0
cuda-python==13.0.3
nvidia-cutlass-dsl-libs-base==4.4.1
poetry==2.1.4
patsy==1.0.1
aiohappyeyeballs==2.6.1
nvidia-cusolver-cu12==11.7.3.90
mpmath==1.3.0
msrest==0.7.1
tf_keras==2.19.0
google-cloud-resource-manager==1.15.0
lightning-utilities==0.15.1
google-generativeai==0.8.5
durationpy==0.10
aiolimiter==1.2.1
pytablewriter==1.2.1
transformers==5.4.0
inquirerpy==0.3.4
llama-cloud==0.1.32
tornado==6.5.1
fixedint==0.1.6
jupyterlab_pygments==0.3.0
fastrlock==0.8.3
pycryptodomex==3.23.0
ty==0.0.1a30
websocket-client==1.8.0
scikit-learn==1.7.1
intervaltree==3.1.0
nvidia-cuda-nvrtc-cu12==12.8.93
opentelemetry-exporter-otlp-proto-http==1.35.0
scipy==1.16.0
gql==4.0.0
cssselect==1.3.0
tabledata==1.3.4
sniffio==1.3.1
snowflake-connector-python==3.16.0
starlette==0.50.0
semver==3.0.4
keras==3.11.2
soxr==0.5.0.post1
blobfile==3.0.0
lxml==6.0.0
tensorboard==2.19.0
compressed-tensors==0.13.0
nipype==1.10.0
platformdirs==4.5.0
propcache==0.3.1
xformers==0.0.32.post1
grpcio==1.78.0
DataProperty==1.1.0
llama-index-readers-file==0.4.11
accelerate==1.13.0
setuptools==80.9.0
fitz==0.0.1.dev2
openenv-coding_env==0.1.0
typepy==1.3.4
cachetools==5.2.0
greenlet==3.2.3
munkres==1.1.4
prometheus_client==0.22.1
playwright==1.54.0
sqlite-vec==0.1.6
pathspec==0.12.1
llama-index-instrumentation==0.3.0
argon2-cffi-bindings==21.2.0
findpython==0.6.3
httplib2==0.22.0
pyperclip==1.8.2
typeguard==4.4.4
prov==2.1.1
docker-pycreds==0.4.0
rouge_score==0.1.2
jupyterlab_widgets==3.0.15
weasel==0.4.1
litellm==1.61.3
jupyter==1.1.1
Farama-Notifications==0.0.4
tree-sitter-python==0.23.6
ruff==0.12.8
black==25.12.0
strictyaml==1.7.3
jupyter_server_terminals==0.5.3
chardet==5.2.0
Brotli==1.1.0
portalocker==3.2.0
orderly-set==5.5.0
latex2sympy2==1.9.1
aiohttp-cors==0.8.1
tinycss2==1.4.0
shiboken6==6.9.1
email_validator==2.2.0
tqdm==4.67.1
marshmallow==3.26.1
h11==0.16.0
lark==1.2.2
azure-common==1.1.28
babel==2.17.0
mdurl==0.1.2
opentelemetry-sdk==1.35.0
multidict==6.0.2
feedparser==6.0.11
transformers-stream-generator==0.0.5
wget==3.2
decorator==5.2.1
overrides==7.7.0
airportsdata==20250706
huggingface_hub==1.8.0
preshed==3.0.10
word2number==1.1
tensorflow-hub==0.16.1
pfzy==0.3.4
pip==26.0.1
diskcache==5.6.3
shortuuid==1.0.13
rich==13.9.4
nest_asyncio==1.6.0
tree-sitter-languages==1.10.2
python-crfsuite==0.9.11
dirtyjson==1.0.8
watchfiles==1.1.0
stanza==1.11.0
opencensus-context==0.1.3
langgraph-sdk==0.3.2
langchain==1.2.3
colorlog==6.9.0
webencodings==0.5.1
jsonref==1.1.0
openenv==0.1.1
pytokens==0.3.0
promptflow-core==1.18.1
python-multipart==0.0.20
newspaper3k==0.2.8
pyasn1==0.4.8
asttokens==3.0.0
beautifulsoup4==4.12.3
Pebble==5.1.3
eval_type_backport==0.2.2
mypy==1.17.1
promptflow-devkit==1.18.1
tree-sitter-cpp==0.23.4
cloudpathlib==0.21.1
trl==0.27.1
blake3==1.0.5
pydantic==2.12.5
chess==1.11.2
llguidance==1.3.0
kubernetes==33.1.0
ijson==3.4.0.post0
smmap==5.0.2
certifi==2025.11.12
leetcodedataset==0.1.1
scandir==1.10.0
complexipy==5.2.0
installer==0.7.0
langchain-community==0.2.19
ml_dtypes==0.5.3
google-resumable-media==2.8.0
imageio==2.37.0
thinc==8.3.4
stopit==1.1.2
optimum==2.0.0
shellingham==1.5.4
jsonargparse==3.13.1
loralib==0.1.2
llama-index-agent-openai==0.4.12
typing_extensions==4.15.0
sentence-transformers==5.0.0
numexpr==2.11.0
lm-format-enforcer==0.11.3
llm-cost-tracker==0.1.10
httptools==0.6.4
fonttools==4.59.0
astunparse==1.6.3
aioboto3==15.5.0
mmh3==5.1.0
async-lru==2.0.5
jsonschema-specifications==2025.4.1
Jinja2==3.1.6
cohere==5.20.1
botocore==1.40.61
onnxruntime==1.22.1
tensorflow==2.19.0
webcolors==24.11.1
langgraph-prebuilt==1.0.5
einops==0.8.2
pydash==7.0.7
executing==2.2.0
nvidia-cudnn-frontend==1.16.0
orjson==3.10.18
langchain-google-genai==4.1.3
python-dotenv==1.1.1
smart_open==7.3.0.post1
depyf==0.20.0
python-json-logger==2.0.7
ffmpy==0.6.1
inflect==7.5.0
poetry-core==2.1.3
langdetect==1.0.9
jupyter-events==0.12.0
uc-micro-py==1.0.3
parso==0.8.4
pathlib_abc==0.5.2
isoduration==20.11.0
google-cloud-storage==2.19.0
py-cpuinfo==9.0.0
xgrammar==0.1.29
py-spy==0.4.1
nvidia-cudnn-cu12==9.10.2.21
sqlitedict==2.1.0
joblib==1.5.1
tensorboard-data-server==0.7.2
uvicorn==0.35.0
pypdf==5.8.0
datasets==4.5.0
nvidia-cusparselt-cu12==0.7.1
google-api-core==2.25.1
idna==3.11
sympy==1.14.0
syllapy==0.7.2
colorful==0.5.8
astor==0.8.1
waitress==3.0.2
appdirs==1.4.4
SecretStorage==3.3.3
llama-parse==0.6.43
flask-restx==1.3.0
xxhash==3.5.0
jsonschema==4.24.0
grpcio-status==1.71.2
gradio==5.41.1
chromadb==1.0.15
torchmetrics==0.10.3
cleo==2.1.0
lm_eval==0.4.4
opentelemetry-exporter-otlp-proto-common==1.35.0
CacheControl==0.14.3
pbs-installer==2025.7.23
banks==2.2.0
faiss==1.7.4
pyvers==0.1.0
uv==0.8.6
semantic-version==2.10.0
model-hosting-container-standards==0.1.13
llama-index-question-gen-openai==0.3.1
httpx==0.28.1
defusedxml==0.7.1
nvidia-nvjitlink-cu12==12.8.93
voyager==2.1.0
exceptiongroup==1.3.0
grpc-google-iam-v1==0.14.3
aiohttp==3.13.3
deepdiff==8.6.1
aiosignal==1.4.0
llvmlite==0.44.0
fastapi-cli==0.0.8
unbabel-comet==2.2.6
mistralai==0.4.2
iniconfig==2.1.0
llama-index-cli==0.4.4
abnf==2.2.0
langgraph-checkpoint==3.0.1
pydantic-extra-types==2.10.5
tldextract==5.3.0
llama-index-embeddings-openai==0.3.1
opencv-python-headless==4.13.0.92
llama-index==0.12.51
Werkzeug==3.1.3
PyPika==0.48.9
docstring_parser==0.17.0
annotated-doc==0.0.4
packaging==25.0
rich-toolkit==0.14.8
posthog==3.25.0
cffi==1.17.1
vllm==0.15.1
Cython==3.1.2
isodate==0.7.2
repo2text==0.1.1
apache-tvm-ffi==0.1.9
stop-sequencer==1.2.3
s3fs==2025.3.0
statsmodels==0.14.5
anyio==4.9.0
feedfinder2==0.0.4
dacite==1.9.2
llama-index-workflows==1.1.0
absl-py==2.3.1
tomli==2.3.0
openrlhf==0.9.1
openrlhf==0.9.1
ujson==5.10.0
jupyterlab==4.4.5
fasttext-wheel==0.9.2
griffe==1.8.0
colorama==0.4.6
mathruler==0.1.0
google-cloud-aiplatform==1.71.1
korouge-score==0.1.4
language_data==1.3.0
pyparsing==3.0.9
h5py==3.14.0
marisa-trie==1.2.1
nvidia-nccl-cu12==2.27.5
cuda-pathfinder==1.4.0
typer==0.19.2
blis==1.2.1
nvidia-nvshmem-cu12==3.3.20
jsonpatch==1.33
httpcore==1.0.9
jaraco.context==6.0.1
tabulate==0.9.0
argon2-cffi==25.1.0
jieba3k==0.35.1
langgraph-checkpoint-sqlite==3.0.1
msgpack==1.1.1
mergekit==0.1.4
aioitertools==0.13.0
cma==4.3.0
pkginfo==1.12.1.2
ipywidgets==8.1.7
llama-cloud-services==0.6.43
fqdn==1.5.1
pkgutil_resolve_name==1.3.10
mcp==1.26.0
torchaudio==2.9.1
cmaes==0.12.0
openpyxl==3.1.4
torchdata==0.11.0
soupsieve==2.7
filetype==1.2.0
invoke==2.2.1
SudachiDict-core==20251022
google-auth-httplib2==0.2.0
namex==0.1.0
tiktoken==0.7.0
langchain-text-splitters==0.2.4
cloudpickle==3.1.1
jedi==0.19.2
pexpect==4.9.0
bitarray==3.5.2
flash_attn==2.8.3
textual==6.7.1
trove-classifiers==2025.5.9.12
jaraco.classes==3.4.0
distlib==0.4.0
verl_project==0.1.0
hyperframe==6.1.0
nbconvert==7.16.6
threadpoolctl==3.6.0
sklearn-crfsuite==0.5.0
requests-toolbelt==1.0.0
async-timeout==4.0.2
cycler==0.12.1
kaitaistruct==0.11
toml==0.10.2
PyJWT==2.10.1
asn1crypto==1.5.1
aniso8601==10.0.1
types-python-dateutil==2.9.0.20250708
annoy==1.17.3
rsa==4.9
bert-score==0.3.13
build==1.2.2.post1
fastavro==1.12.1
langchain-openai==1.1.7
tomli_w==1.2.0
frontend==0.0.3
rfc3986-validator==0.1.1
cryptography==45.0.5
uuid_utils==0.13.0
lxml_html_clean==0.4.2
immutables==0.21
fastapi==0.123.5
grpcio-reflection==1.78.0
traits==7.0.2
requests-file==2.1.0
requests==2.32.5
frozendict==2.4.6
google-genai==1.57.0
safehttpx==0.1.6
spacy==3.8.7
typing-inspect==0.9.0
httpx-sse==0.4.3
typing-inspection==0.4.2
gitdb==4.0.12
bitsandbytes==0.46.1
ormsgpack==1.12.1
hpack==4.1.0
mbstrdecoder==1.1.4
torch==2.9.1
jaraco.functools==4.0.1
inflect==7.3.1
typeguard==4.3.0
platformdirs==4.2.2
wheel==0.45.1
backports.tarfile==1.2.0
tomli==2.0.1
zipp==3.19.2
autocommand==2.2.2
jaraco.text==3.12.1
more-itertools==10.3.0
typing_extensions==4.12.2
packaging==24.2
jaraco.context==5.3.0
jaraco.collections==5.1.0
importlib_metadata==8.0.0
